---
import DemoLayout from '@/layouts/DemoLayout.astro';
import { lessonRepo } from '@coffic/cosy-content';
import { type RenderResult } from 'astro:content';

export async function getStaticPaths() {
  return lessonRepo.getStaticPaths();
}

/**
 * slug: api_market/27-mysql
 * lang: zh-cn
 *
 * bookId: api_market
 * id: api_market/zh-cn/27-mysql
 */

const { slug, lang } = Astro.params;
if (!slug) {
  return Astro.redirect('/lessons');
}

let bookId = slug.split('/')[0];
let id = '';

if (slug.split('/').length === 1) {
  id = `${bookId}/${lang}`;
} else {
  id = `${bookId}/${lang}/${slug.replace(`${bookId}/`, '')}`;
}

const lesson = await lessonRepo.find(id);
const title = lesson?.getTitle() || '没有找到课程';
const sidebarItem = (await (await lesson?.getBook())?.toSidebarItem()) || null;

let Content: RenderResult['Content'] | null = null;

if (lesson) {
  const renderResult = await lesson.render();
  Content = renderResult.Content;
}
---

<DemoLayout title={title} sidebarItems={sidebarItem}>
  {Content ? <Content /> : <div>没有找到课程</div>}
</DemoLayout>
