---
import DemoLayout from '@/layouts/DemoLayout.astro';
import { Products, getExampleImage, LinkUtil } from '@coffic/cosy-ui';

const currentLocale = Astro.url.pathname.split('/')[2] || 'zh-cn';

export const getStaticPaths = async () => {
  return [
    {
      params: { lang: 'zh-cn' },
    },
    {
      params: { lang: 'en' },
    },
  ];
};
---

<DemoLayout title="Cosy UI 组件库 - 示例" showSidebar={false} showTOC={false}>
  <h1>Cosy UI 组件库 - 示例</h1>

  <Products
    products={[
      {
        name: '文档布局',
        image: getExampleImage({
          width: 100,
          height: 100,
        }),
        description: '适用于展示文档的场景',
        productUrl: LinkUtil.createUrl(`${currentLocale}/demos/doc_layout`),
      },
      {
        name: '产品首页',
        image: getExampleImage({
          width: 100,
          height: 100,
        }),
        description: '适用于展示产品信息的场景',
        productUrl: LinkUtil.createUrl(`${currentLocale}/demos/landing_page`),
      },
      {
        name: '网格布局',
        image: getExampleImage({
          width: 100,
          height: 100,
        }),
        description: '展示灵活的网格布局系统',
        productUrl: LinkUtil.createUrl(`${currentLocale}/demos/grid_layout`),
      },
    ]}
  />
</DemoLayout>
